<head>
    <meta charset ="utf-8">
    <title>{{pageTitle}}</title>
    <header>
    <h1>{{pageTitle}}</h1>
    <button><a href="/about">About</a></button>
    <button><a href="/">Home</a></button>
    <button><a href="/projects">Projects</a></button>
    </header>
</head>